@using SiteWatch.Models

<div class="form-group col-md-6">
	<label for="@nameof(HtmlQuerySelectorAction.QuerySelector)">Query selector</label>
	<input class="form-control" @bind="HtmlQuerySelectorAction.QuerySelector" />
</div>

@code {
	[Parameter]
	public HtmlQuerySelectorAction HtmlQuerySelectorAction { get; set; }
}
